<div class=" d-flex justify-content-evenly column-gap-3 my-3 p-3 border rounded-3 ">
  <div class="d-flex flex-column justify-content-center w-50">
    <%= link_to recipe.name, recipe_path(recipe.id), class: "card-title fw-bold fs-5" %>By: <%= recipe.user.name %>
  </div>
  <div class="w-50">
    <ul>
      <% total_price = 0 %>
      <% food_count = recipe.foods.count %>
      <% recipe.foods.each do |food| %>
        <p><% food.price %></p>
        <% total_price += food.price %>
      <% end %>
    </ul>
    <span>Total Food Items: <%= food_count %></span> <br>
    <span>Total Price: <%= total_price %></span>
  </div>
</div>
