<section class="container d-flex flex-column mt-5">
  <h1><%= @user.name %>'s Recipes</h1>
  <span class="text-end"><%= link_to 'Create new recipe', new_recipe_path, class: 'btn btn-primary' %></span>
  <%= render partial: 'recipe_card', collection: @recipes, as: :recipe %>
</section>
