@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@400;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Monserrat', sans-serif;
}

.logo {
  font-family: 'Anton', sans-serif;
}

.navbar-nav .nav-link.active {
  color: #1875cc !important;
}

a {
  text-decoration: none !important;
}

tr, td {
  text-align: center;
}
